.title {
  text-align: center;
  margin-top: 100px;
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  & .value {
    background-color: #222222;
    width: 100%;
    color: #ffffff;
    text-align: right;
    font-size: 34px;
    font-weight: bold;
  }

  & .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;

    &_number {
      width: 25%;
      height: 60px;
      padding: 6px;
      margin-bottom: 3px;
      font-size: 28px;
      font-weight: bold;
      border-radius: 15px;
      border: 2px solid #222222;
      cursor: pointer;
      opacity: 0.6;
      transition: 0.2s;

      &:focus {
        outline: 0;
      }

      &:hover {
        opacity: 1;
        transition: 0.2s;
      }
    }

    & .under {
      width: 50%;
      height: 60px;
      padding: 6px;
      margin-bottom: 3px;
      font-size: 28px;
      font-weight: bold;
      border-radius: 15px;
      border: 2px solid #222222;
      cursor: pointer;
      opacity: 0.6;
      transition: 0.2s;

      &:focus {
        outline: 0;
      }

      &:hover {
        opacity: 1;
        transition: 0.2s;
      }
    }
  }
}